node_modules
js/credentials.json
/Users/sun/Desktop/project/ElectromagneticIntensityMap/js/credentials.json
/Users/sun/Desktop/project/ElectromagneticIntensityMap/dist/js/credentials.json
dist/js/credentials.json